<div id="images">
<img class="sl" onclick="glideTo( 0, 'i1')" src="images/g_dekamoji.jpg">
<img class="sl" onclick="glideTo( -150, 'i2')" src="images/g_beer.jpg">
<img class="sl" onclick="glideTo( -300, 'i3')" src="images/g_sakura.jpg">
<img class="sl" onclick="glideTo( -450, 'i4')" src="images/g_effect.jpg">
</div>
<div id="captionTarget" style="height:100%;width:100%;" align="center"></div>
<div style="display:none;">
<div id="i1">でか文字</div>
<div id="i2">画像（ビール）</div>
<div id="i3">画像（さくら）</div>
<div id="i4">エフェクト（Fade）</div>
</div>
<script type="text/javascript" src="javascripts/MyScrap.js"></script>

<center>
<a href='<%= root_url + "main/qa" %>' target="_top" >
<img src="images/button_faq.png"
 onmouseover="this.src='images/button2_faq.png',IEPNGFIX.fix(this)"
 onmouseout="this.src='images/button_faq.png',IEPNGFIX.fix(this)"
 border="0" width="150" height="100" alt="Q&A" class="iepngfix" /></a>
<a href='<%= root_url + "main/howto" %>' target="_top">
<img src="images/button_howto.png"
 onmouseover="this.src='images/button2_howto.png',IEPNGFIX.fix(this)"
 onmouseout="this.src='images/button_howto.png',IEPNGFIX.fix(this)"
 border="0" width="150" height="100" alt="使い方" class="iepngfix" /></a>
<a href='<%= root_url + "main/chatroom" %>' target="_top">
<img src="images/button_chatroom.png"
 onmouseover="this.src='images/button2_chatroom.png',IEPNGFIX.fix(this)"
 onmouseout="this.src='images/button_chatroom.png',IEPNGFIX.fix(this)"
 border="0" width="225" height="150" alt="チャット" class="iepngfix" /></a>
<a href='<%= root_url + "main/rule" %>' target="_top">
<img src="images/button_rule.png"
 onmouseover="this.src='images/button2_rule.png',IEPNGFIX.fix(this)"
 onmouseout="this.src='images/button_rule.png',IEPNGFIX.fix(this)"
 border="0" width="150" height="100" alt="利用規約" class="iepngfix" /></a>
<a href='<%= root_url + "main/contactus" %>' target="_top">
<img src="images/button_contactus.png"
 onmouseover="this.src='images/button2_contactus.png',IEPNGFIX.fix(this)"
 onmouseout="this.src='images/button_contactus.png',IEPNGFIX.fix(this)"
 border="0" width="150" height="100" alt="お問い合わせ" class="iepngfix" /></a>
<a href='<%= root_url + "main/search" %>' target="_top">
</center>

