<DIV id='lay<%= @mes.id%>' style="position : absolute;
left : <%= params[:pos_x]%>px;top : <%= params[:pos_y]%>px;visibility : visible;">
<font color='<%= session[:n_color] %>' style="font-size:<%= session[:n_size] %>pt;" ><%= @mes.name %> </font>
<font color='<%= session[:f_color] %>' style="font-size:<%= session[:f_size] %>pt;">  <%= @mes.message %></font>
</DIV>
